<h2 id="month">
  <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
  <%=h @date.strftime("%B %Y") %>
  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
</h2>
<% calendar_for(@stamp.marks, :year => @date.year, :month => @date.month, :today => Time.zone.today) do |calendar| %>
  <%= calendar.head((I18n.t 'stamp.calendar.weeks.sunday'), (I18n.t 'stamp.calendar.weeks.monday'), (I18n.t 'stamp.calendar.weeks.tuesday'), (I18n.t 'stamp.calendar.weeks.wednesday'), (I18n.t 'stamp.calendar.weeks.thursday'), (I18n.t 'stamp.calendar.weeks.friday'), (I18n.t 'stamp.calendar.weeks.saturday')) %>
  <% calendar.day(:day_method => :marked_on, :id => "day_%Y%m%d") do |day, marks| %>
    <% if day.month == @date.month %>
      <% if marks.first %>
        <%= mark_image(marks.first) %>
        <%= link_to "", marks.first, :class => "mark_link" %>
      <% else %>
        <%= link_to "", marks_path(:stamp_id => @stamp, :date => day.to_s("%Y-%m-%d")), :class => "mark_link" %>
      <% end %>
      <div class="points"><%= points @stamp.day_points(day) %></div>
      <%= day.day %>
    <% end %>
  <% end %>
<% end %>
