<% title (I18n.t 'stamp.index.title'), false %>
<% stylesheet "home" %>
<% javascript "home" %>

<%= image_tag("dailystamp_big.gif", :size => "599x157", :alt => "Daily Stamp", :id => "logo") %>

<div id="side">
  <div id="screencast">
    <a href="http://media.railscasts.com/videos/dailystamp.mov"><%= image_tag("screencast.jpg", :size => "185x238") %></a>
  </div>
  <div id="recent_stamps">
    <h4><%= I18n.t 'stamp.index.recent' %></h4>
    <% for stamp in Stamp.non_private.recent.all(:include => :user, :limit => 3) %>
      <div class="stamp">
        <div class="stamper"><%= link_to image_tag("stamper/#{h(stamp.color)}/tiny.png", :size => "23x30", :alt => h(stamp.name)), stamp %></div>
        <div class="stamp_details">
          <%= link_to h(truncate(stamp.name, :length => 20)), stamp %><br />
          <span class="score"><%= stamp.score %> points <%= I18n.t 'stamp.index.by' %> <%= h(stamp.user.display_name) if stamp.user %></span>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>
</div>

<div id="main">
  <h2><%= I18n.t 'stamp.index.daily' %></h2>

  <% form_for @stamp do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :color %>
    <p><%= f.text_field :name, :size => 30 %> <%= f.submit (I18n.t 'stamp.index.start') %></p>
    <p><%= f.check_box :private %> <%= f.label :private, (I18n.t 'stamp.index.private') %></p>
  <% end %>

  <div id="suggestions">
    <h3><%= I18n.t 'stamp.index.suggestion' %></h3>
    <ul id="suggestions_1">
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.inbox'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.piano'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.brush'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.exercise'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.ontime'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.clean'%></a></li>
    </ul>
    <ul id="suggestions_2" style="display: none">
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.devotion'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.pushup'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.smoke'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.room'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.games'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.journal'%></a></li>
    </ul>
    <ul id="suggestions_3" style="display: none">
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.eat'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.draw'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.write'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.dishes'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.sleep'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.jog'%></a></li>
    </ul>
    <ul id="suggestions_4" style="display: none">
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.vitamin'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.pets'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.deed'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.plants'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.soda'%></a></li>
      <li><a href="#"><%=I18n.t 'stamp.index.suggest.breakfast'%></a></li>
    </ul>
    <p><a href="#" class="more"><%=I18n.t 'stamp.index.suggest.more'%></a></p>
  </div>
</div>
